page-complaint-description {
    #msgInput {
        width: calc(100% - 10px);
        border: 1;
        border-radius: 10%;
        background: transparent;
    }
    .long{
        max-width: 100%;
        border: 1px;
    }
}
